.keyboard {
  width: 100%;
  font-size: 16px;
  font-weight: 800;

  div {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 0.3rem;

    width: 100%;
  }
}

.key {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 1.75em;
  border-radius: 2px;
  border: none;

  background-color: rgb(107, 107, 107);
  color: white;

  font-size: inherit;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  &:disabled {
    cursor: unset;
    filter: none;
    background-color: #333;
  }
}

.answer {
  &:disabled {
    border: none;
    background-color: darkolivegreen;
  }
}

.noClick {
  pointer-events: none;
}
